.col-3, .col-9 {
    margin-top: 10px;
}

h1 {
    padding-left: 5px;
    padding-bottom: 5px;
}

.input-bar {
    margin: 10px;
}

.btn {
    margin: 10px;
}

ul {
    list-style: none;
}

li {
    padding-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover {
    opacity: 70%;
    transition: opacity 2s ;
}

.cities {
    padding-bottom: 5px;
}

.list-inline-item {
    justify-content: space-around;
}

.weather-info {
    width: 20%;
}

#weatherToday {
    padding-top: 10px;
    padding-bottom: 10px;
}

.card {
    padding: 10px;
    margin-right: 25px;
}

#fiveDayForecast {
    padding-bottom: 10px;
}

.bg-warning-strong {
    background-color: orange;
}

.bg-danger-strong {
    background-color: purple;
}